service:
  port: 5000
  grpc: 50051
  
linebot:
  channel_secret : <channel secret>
  channel_access_token : <channel access token>


db:
  host: <postgres ip>
  port: <postgres port>
  user: <user name>
  password: <password>
  database: <db name>